cityscapesscripts
cython
easydict
einops
future
ftfy
imagecorruptions
ipdb
lmdb
matplotlib
numpy
pandas
pycocotools
regex
scipy
six
sklearn
tensorboard
terminaltables
timm
typing_extensions
# http://mvap-data.oss-cn-zhangjiakou.aliyuncs.com/zhax/wangluting/wheels3/pytorch151/mmcv_full-1.4.4-cp36-cp36m-linux_x86_64.whl
http://mvap-data.oss-cn-zhangjiakou.aliyuncs.com/zhax/wangluting/wheels3/pytorch180/mmcv_full-1.4.6-cp36-cp36m-linux_x86_64.whl
